.panel-button {
    height: 30px;
    background-color:black;
    display: flex;
    flex-direction: row;
}

.control-button {
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    font-size: medium;
    margin: 5px 2px;
    color: white;
    flex-grow: 1;
}

.indented-block {
    flex-grow: 500;
}
