.panel-button {
    height: 35px;
    background-color:black;
    display: flex;
    flex-direction: row;
}

.panel-button .control-button {
    width: 20px;
    height: 20px;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    font-size: medium;
    margin: 6px 3px;
    color: white;
}

.fullsreen-button {
    width: 24px;
    height: 24px;
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    font-size: medium;
    margin: 5px 6px;
    color: white;
}


.panel-button .viewing-panel {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.panel-button .viewing-time {
    color: white;
    margin: 6px 9px;
    font-family: 'Roboto';
}

.panel-button .video-duration {
    color: white;
    margin: 6px -4px;
    font-family: 'Roboto';
}

.viewing-panel .viewing-progressbar {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-right: 13px;
}

.viewing-progressbar .js-progress {
    flex-grow: 1;
    height: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.js-progress .js-progress-slider {
    background-color: #f8104d;
    height: 5px;
    border-radius: 10px;
}


.js-progress .dot {
    height: 7px;
    width: 7px;
    background-color: #f8104d;
    border-radius: 50%;
    display: inline-block;
    border: solid;
    border-width: 3px;
    border-color: white;
    margin-left: -6px;
    margin-top: -4px;
    opacity: 0;
    transition: opacity 0.2s linear;

}

.js-progress:hover .dot {
    height: 7px;
    width: 7px;
    background-color: #f8104d;
    border-radius: 50%;
    display: inline-block;
    border: solid;
    border-width: 3px;
    border-color: white;
    margin-left: -6px;
    margin-top: -4px;
    opacity: 1;
    transition: opacity 0.2s linear;
}