.panel-button {
    height: 35px;
    background-color:black;
    display: flex;
    flex-direction: row;
}


.panel-button .control-button {
    border-style: none;
    cursor: pointer;
    background-color: transparent;
    font-size: medium;
    margin: 7px 3px;
    color: white;
    flex-grow: 1;
}


.panel-button .viewing-panel {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.panel-button .viewing-time {
    color: white;
    margin: 6px 0px;
    font-family: 'Roboto';
}

/* .panel-button .video-duration {
    color: white;
    margin: 5px;
} */

.viewing-panel .viewing-progressbar {
    flex-grow: 1;
    margin: 13px 5px;
    display: flex;
    flex-direction: row;
}

.viewing-progressbar .js-progress {
    flex-grow: 1;
    height: 4px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.js-progress .js-progress-slider {
    background-color: red;
    height: 4px;
    border-radius: 10px;
}


.js-progress .dot {
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border: solid;
    border-width: 3px;
    border-color: white;
    margin-left: -6px;
    margin-top: -3px;
    opacity: 0;
    transition: opacity 0.3s linear;

}

.js-progress:hover .dot {
    height: 7px;
    width: 7px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    border: solid;
    border-width: 3px;
    border-color: white;
    margin-left: -6px;
    margin-top: -3px;
    opacity: 1;
    transition: opacity 0.3s linear;
}